*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.topNav{
    overflow: hidden;
    background-color: #333;
    position: relative;
}
.topNav #myLinks{
    display: none;
}
.topNav a{
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}
.topNav a.icon{
    background: red;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}
.topNav a:hover{
    background-color: #ddd;
    color: black;
}
.topNav .active{
    background-color: #04AA6D;
    color: white;
}
.topNav{
    display: none;
}
/* End of mobile Navigation */

.mytop{
    display: flex;
    height: 250px;
}
.img111{
    border-radius: 30%;
    border-top-right-radius: 80%;
    border-top-left-radius: 80%;
    border-bottom-right-radius: 80%;
    border-bottom-left-radius: 80%;
    width: 250px;
    padding: 5%;
    border-left-width: 80;
    
}

.mytop .head h1{
    margin-top: 100px;
    font-size: 30px;
    color: #ff0000;
}
.mytop .head p{
    margin-top: -20px;
   font-size: 20px;
    color: green;
}

nav{
    margin-top: -70px;
    background: gray;

}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    padding: 14px 16px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;

}
/* |End of desktop Navigation */
#section{
    height: 300px;
    padding: 60px;

}
 ul li{
    list-style: none;
    padding: 14px 16px;
    font-size: 20px;
}

h1 , h2{
    margin-bottom: 15px;
    color: #606060;
}
p{
    line-height: 1.4;
    color: #808080;
    margin-bottom: 10px;
}
.columns{
    display: flex;

}
.col{
    margin-top: -140px;
    width: 50%;
    height: 350px;
    
}
.img1{
    background: url(../img/fcom.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img2{
    background: url(../img/house.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#news{
    height: 300px;
    padding: 60px;

}
#news a{
    text-decoration: none;
    color: coral;
    font-size: 16px;
}

#contact{
    height: 300px;
    padding: 60px;
}
.social{
    margin-top: 30px;
}
.fa-facebook{
    color: #1877f2;
    font-size: 25px;
    margin-right: 8px
}
.fa-whatsapp{
    color: #128c7e;
    font-size: 25px;
    margin-right: 8px
}
.fa-instagram{
    color: #cd486b;
    font-size: 25px;
    margin-right: 8px
}
.fa-twitter{
    color: #00acee;
    font-size: 25px;
    margin-right: 8px
}
.fa-youtube{
    color: #ff0000;
    font-size: 25px;
    margin-right: 8px
}
.social a{
text-decoration: none
}
#About{
    height: 300px;
    padding: 60px;
}
#About .AboutImg{
    display: flex;
    justify-content: space-between;
   
}


#About .about1{
    height: 250px;
    width: 45%;
    background: url(../img/EXAM\ HALL.png);
    background-position: center;
    background-size: cover;
}

#About .about2{
    height: 250px;
    width: 45%;
    background: url(../img/ICT.png);
    background-position: center;
    background-size: cover;
}
/* End of About */

#Services{
    margin-top: 130px;
    height: 500px;
    padding: 60px;
    margin-bottom: 150px;
}
.cards{
display: flex;
justify-content: space-between;
}
.card{
    width: 32%;
    height: 350px;
}
.cardImg{
    height: 250px;
   

}
.image1{
    background: url(../img/fcom.jpg);
    background-position: center;
    background-size: cover;
}

.image2{
    background: url(../img/LIBRARY.png);
    background-position: center;
    background-size: cover;
}

.image3{
    background: url(../img/ICT.png);
    background-position: center;
    background-size: cover;
}
footer
{
    height: 100vh;
    color: #fff;
    background: #000;
    padding: 50px;
}
 .ourlinks{
     margin-top: 30px;
     
    
 }
 .ourlinks a{
    display: block;
    text-decoration: none;
    color: #fff;
    margin-bottom: 8px;
    border-bottom: 1px solid #606060;
 }
.copyright{
    margin-top: 30px;
}
/*  Gallery code */

#gallery{
    height: 650px;
    padding: 60px;

}
.row{
display: flex;
justify-content: space-between;
}
.column{
    width: 32%;
    height: 250px;
    cursor: pointer;
}
.column:hover{
    transform: scale(1.3);
    transition: 0.3s;
}
.colImg1{
    background: url(../img/fcom.jpg);
    background-position: center;
    background-size: cover;
}
.colImg2{
    background: url(../img/LIBRARY.png);
    background-position: center;
    background-size: cover;
}
.colImg3{
    background: url(../img/ICT.png);
    background-position: center;
    background-size: cover;
}
.colImg4{
    background: url(../img/FACULTY.png);
    background-position: center;
    background-size: cover;
}

/* Mobile responsiveness */
@media screen and (max-width:600px){
    nav{
        display: none;
    }
    .topNav{
        display: block;
    }
    .columns{
        flex-direction: column;
    }
    .img1{
        width: 100%;
        margin-bottom: 10px;
    }
    
    .img2{
        width: 100%;
        margin-bottom: 10px;
    }
    
#About .AboutImg{
    flex-direction: column;
}
#About .about1{
    width: 100%;
}
#About .about2{
    width:100%;
}
#Services{
    margin-top: 450px;
    margin-bottom: 1000px;
}
.cards{
    flex-direction: column;
}
.card{
    width: 100%;
}
.row{
    flex-direction: column;
}
.colImg1{
    width: 100%;
}
.colImg2{
    width: 100%;
}
.colImg3{
    width: 100%;
}
.colImg4{
    width: 100%;
}
#gallery{
    margin-top: 450px;
    margin-bottom: 1500px;
}
}